#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #floatingForm {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    margin: 100px auto;
  }
  
  #closeFormButton {
    margin-top: 10px;
  }